.container-fluid {
  background-image: url('src/assets/lost 404.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  font-family: Comic sans MS;
}
