.container-fluid {
  background-image: url('https://i.dlpng.com/static/png/6412147_preview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  font-family: Comic sans MS;
}
