<form #registerForm=ngForm>
  First Name: <input type="text" name="firstName" ngModel><br>
  LastName: &nbsp;<input type="text" name="lastName" ngModel><br>

Address: <br><br>
Street: <br>
<input type="text" name="street" ngModel><br>
State: <br>
<input type="text" name="state" ngModel><br>
City: <br>
<input type="text" name="city" ngModel><br>
Zip <br>
<input type="text" name="zip" ngModel><br><br>


  Username:<input type="text" name="username" ngModel><br>
  Email:<input type="email" name="email" ngModel><br>
  Password:<input type="password" name="password" ngModel><br>
  Phone Number: <input type="number" name="phone" ngModel>
  <input type="hidden" name="role" ngModel><br>
  <input type="hidden" name="enabled" ngModel><br>
  <input type="submit" value="register" (click)=register(registerForm)>
  </form>
