<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h4 *ngIf="error" style="color: red;">
          * There was an error creating your account
        </h4>
        <form #registerForm="ngForm">
          <div class="form-group">
            <strong>Personal:</strong><br />
            <label for="firstName">First Name:</label><br />
            <input type="text" name="firstName" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label><br />
            <input type="text" name="lastName" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label for="email">Email</label><br />
            <input type="text" name="email" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label for="phone">Phone</label><br />
            <input type="text" name="phone" class="form-control" ngModel />
          </div>
          <!-- <div class="form-group">
            <label for="userSkills">Skills (Cmd select for multiple)</label><br />
            <select class="custom-select" multiple>
              <option value="{{skill.id}}" *ngFor="let skill of skills" ngModel>{{skill.name}}</option>
            </select>
          </div> -->
          <hr />
          <strong>Address:</strong><br />
          <div class="form-group">
            <label for="street">Street</label><br />
            <input type="text" name="street" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label for="city">City</label><br />
            <input type="text" name="city" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label for="state">State</label><br />
            <input type="text" name="state" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label for="zip">Zip</label><br />
            <input type="text" name="zip" class="form-control" ngModel />
          </div>
          <hr />
          <strong>Login Info:</strong><br />
          <div class="form-group">
            <label for="username">Username</label><br />
            <input type="text" name="username" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label for="password">Password</label><br />
            <input
              type="password"
              name="password"
              class="form-control"
              ngModel
            />
          </div>
          <input type="hidden" name="role" class="form-control" ngModel /><br />
          <input
            type="hidden"
            name="enabled"
            class="form-control"
            ngModel
          /><br />
          <div class="form-group">
            <button class="btn btn-success" (click)="register(registerForm)">
              Register
            </button>
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
