.container-fluid{
  padding: 15px;
}
#modal{
  width: 100px;
  height: 100px;
}
.sebm-google-map-container {
  height: 500px;
}

.card-header, .thead {
  background-color: rgb(24, 24, 83);
}
.showHand:hover{
  color: black;
  cursor: pointer;
}

#map {
  height: 500px;
  width: 100%;
}
