
#gigThumb{
  height:150px;
  width: 150px;
}

#cardBack{
  background-size: cover;
  background-repeat: no-repeat;
background-image: url('src/assets/cardBack.jpg');
}

.modal-body, .modal-header, .modal-footer{
  background-image: url('src/assets/cardBack.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: beige;
}


img{
  width: auto;
  height: 300px;
}
#jumbotron {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.well {
  margin-top:-20px;
  background-color:#007FBD;
  border:2px solid #0077B2;
  text-align:center;
  cursor:hand;
  font-size: 25px;
  padding: 15px;
  border-radius: 0px !important;
}

.card-header {
  background-color: rgb(24, 71, 84);
  cursor: pointer;
  /* font-family: fantasy; */
}

#gigUpdate label{
  color: black;
}

#updateUser label {
  color: white;
}

hr{
  height: 5px;
  color: black;
  padding-top: 3px;
  border: none;
  border-bottom: 3px solid black;
}

.showHand:hover{
  color: red;
  cursor: pointer;
}

.showHand {
  color: blue;
  text-decoration: underline;
}

h3, h6 {
  font-family: fantasy;
  color: beige;
}

button{
  color: white;
}
