<div class="jumbotron">
  <div class="container-fluid">
    <!-- USER IMAGE & NAME BOX START -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="span well bg-light">
          <br />
          <div>
            <a data-toggle="modal" data-target="#myModal"><img [src]="user.avatarImage.imageUrl" name="aboutme"
                width="auto" height="275" class="image rounded-circle" /></a>
            <h3>{{ user.firstName }} {{ user.lastName }}</h3>
            <span class="card-detail-badge"><a href="mailto:{{user.email}}" target="_blank">
                Contact Me</a></span>
          </div>
          <br />
        </div>
      </div>
      <div class="col-1"></div>
    </div>


    <div class="container-fluid" id="skillDiv">
      <h3>Skills: </h3>
      <li *ngFor="let skill of user.skills">
        {{ skill.skill.name }}
      </li>

    </div>
    <div class="container-fluid" id="about">
      <h3>About Me:</h3>
      <font size="2">{{user.bio}}</font>
    </div>





    <div style="padding-top: 20px;"  id="hist" class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="span well bg-secondary">
            <br />
            <h3>History</h3><br>
            <!-- {{yourGigs.length}} -->
            <p *ngFor="let booking of yourGigs">
              <strong>Job Completed: {{booking.completeDate}}</strong> <br> <br><strong> Job Title: </strong>
              <br>{{booking.job.title}} <br><br> <strong> Skill Used: </strong><br>
              <font size="3"> {{booking.job.skill.name}} </font><br><br>
              <font size="3"> <strong> Description: </strong>
                <br> {{booking.job.description}} </font>

              <br> ------------------------------------------------------------------------------
            </p>

            <br />
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>



  </div>
