<div class="row" *ngIf="allBoookings">
  <h1>Total Gigs You've Hired Out: {{allBoookings.length}} </h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-9">
    <ol>
      <div *ngFor="let booking of allBoookings">
        <li>
          <div class="container">
            <div class="card">
              <div>
                <h6 class="card-header bg-dark text-light">Gig Booked: {{booking.startDate}}</h6>
                <h6 class="card-header bg-dark text-success" *ngIf="booking.completeDate !== null">Gig Completed: {{booking.completeDate}}</h6>
              </div>
              <div class="card-body">
                <h6>{{booking.job.title}}</h6>
                <small>{{booking.job.description}}</small>
                <div class="card-footer bg-light text-success">
                  <h6>Bid: ${{booking.bid.bidAmount}}</h6>
                  <h6>Claimed By: {{booking.bid.bidder.firstName}}</h6>
                  <p>Contact Seller here</p>
                  <p>Email: {{booking.bid.bidder.email}}</p>
                  <p>From the Bidder: {{booking.bid.description}}</p>
                  <button (click)="updateBooking(booking)" class="btn btn-sm btn-success" *ngIf="booking.completeDate === null">
                    &#10003;
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ol>
  </div>
</div>

<div class="row" *ngIf="yourGigs">
  <h1>Your Gigs to complete: {{yourGigs.length}} </h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-9">
    <ol>
      <div *ngFor="let booking of yourGigs">
        <li *ngIf="booking.completeDate === null">
          <div class="container">
            <div class="card">
              <div>
                <h6 class="card-header bg-dark text-light">Gig Booked: {{booking.startDate}}</h6>
              </div>
              <div class="card-body">
                <h6>{{booking.job.title}}</h6>
                <small>{{booking.job.description}}</small>
                <div class="card-footer bg-light text-success">
                  <h6>Bid: ${{booking.bid.bidAmount}}</h6>
                  <h6>Claimed By: {{booking.bid.bidder.firstName}}</h6>
                  <p>Contact your client here</p>
                  <p>Email: {{booking.bid.bidder.email}}</p>
                  <p>From the Bidder: {{booking.bid.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ol>
  </div>
</div>

<div class="row" *ngIf="transactionHistory">
  <h1>Your Transaction History: {{transactionHistory.length}} </h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-9">
    <ol>
     <div *ngFor="let booking of transactionHistory">
      <li>
        <div class="container">
          <div class="card" >
            <div>
              <h6 class="card-header bg-dark text-light">Gig Booked: {{booking.startDate}} Completed Date:
                {{booking.completeDate}}</h6>
            </div>
            <div class="card-body">
              <h6>{{booking.job.title}}</h6>
              <small>{{booking.job.description}}</small>
              <div class="card-footer bg-light text-success">
                <h6>Bid: ${{booking.bid.bidAmount}}</h6>
                <h6>Claimed By: {{booking.bid.bidder.firstName}}</h6>
                <p>Contact Seller here</p>
                <p>Email: {{booking.bid.bidder.email}}</p>
                <p>From the Bidder: {{booking.bid.description}}</p>
                <button (click)="updateBooking(booking)" class="btn btn-sm btn-success">
                  &#10003;
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
    </ol>
  </div>
</div>
