<!-- <div class="jumbotron">
  <h1 class = "display-4 text-light">Work-For-Hire</h1>
  <div class="row">
    <ng-container>
      <div class="col-sm-3"></div>
    <div class="col-sm-9 col-lg-6">

<div id="carouselGigs" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
              <div class = "card h-100" style="width: 35em;">
                  <div class="card-body">
                  <h1 class="card-header bg-warning text-center text-primary">{{skills[skills.length-1].name}}</h1>
                  <h5 class="text-secondary">{{skills[skills.length-1].description}}</h5>
                </div>
                    <div class="card-footer text-center">
                      <div>
                    <button class="btn btn-info" [routerLink]="['/search', skills[skills.length-1].name]">Find Gigs</button>
                  </div>
                  </div>
              </div>
      </div>
      <div class="carousel-item" *ngFor="let skill of skills">
          <div class = "card h-100" style="width: 35em;">
              <div class="card-body">
              <h1 class="card-header bg-warning text-center text-primary">{{skill.name}}</h1>
              <h5 class="text-secondary">{{skill.description}}</h5>
            </div>
                <div class="card-footer text-center">
                  <div>
                <button class="btn btn-info" [routerLink]="['/search', skill.name]">Find Gigs</button>
              </div>
              </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselGigs" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
        <span class="sr-only text-info">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselGigs" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>


</div>
</ng-container>
</div>
</div> -->
<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
    <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable"></agm-marker>
</agm-map>
<div class="container-fluid">
    <div class='row'>
      <div class="form-group">
        <label class='col-sm-2'>Address Line 1</label>
        <input class='col-sm-10' type='text' [(ngModel)]='location.address_level_1' class="form-control" placeholder='Office, Apt, Home, Street'>
      </div>
      <div class="form-group">
        <label class='col-sm-2'>Address Line 2</label>
        <input class='col-sm-10'  [(ngModel)]='location.address_level_2' class='form-control' placeholder='City'/>
      </div>

      <div class="form-group">
        <label class='col-sm-2'>State / Province / Region</label>
        <input class='col-sm-10'  [(ngModel)]='location.address_state' class='form-control' placeholder='State'>
      </div>

      <div class="form-group">
        <label class='col-sm-2'>Country</label>
        <input class='col-sm-10'  [(ngModel)]='location.address_country' class='form-control' placeholder='State'>
      </div>

      <div class="form-group">
        <label class='col-sm-2'>Postal / Zip code</label>
        <input class='col-sm-10'  [(ngModel)]='location.address_zip' class='form-control' placeholder='Zip'>
      </div>

      <button (click)='updateOnMap()' type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>


