body,
html {
  height: 100%;
}

.jumbotron {
  background: none;
}

#randBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sebm-google-map-container {
  height: 300px;
}
.card-header {
  background-color: rgb(24, 71, 84);
}

.card {
  min-height: 300px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 75%;
}

#randBackground {
  background-repeat: no-repeat;
  background-size: cover;
}

#devBy {
  background:rgba(255,255,255,0.35);
}

hr {
  height: 5px;
  color: black;
  padding-top: 3px;
  border: none;
  border-bottom: 3px solid black;
}

ul {
  display: table;
  margin: 0 auto;
  font-size: 30px;
}

li:hover {
  color: blue;
  cursor: pointer;
}

#about {
    background:rgba(255,255,255,0.35);
}

#catLinks {
  border-top: 1px solid #184954;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a5a6), to(#000000));
  background: -webkit-linear-gradient(top, #a3a5a6, #000000);
  background: -moz-linear-gradient(top, #a3a5a6, #000000);
  background: -ms-linear-gradient(top, #a3a5a6, #000000);
  background: -o-linear-gradient(top, #a3a5a6, #000000);
  padding: 7px 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }
#catLinks:hover {
  border-top-color: #184754;
  background: #184754;
  color: #ccc;
  }
#catLinks:active {
  border-top-color: #2b6f9c;
  background: #2b6f9c;
  }
