body, html {
  height: 100%;
}

.jumbotron {
  background: none
}

#randBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sebm-google-map-container {
  height: 300px;
}
.card-header {
  background-color: rgb(24, 24, 83);
}

.card {
  min-height: 300px;
}

.carousel-control-prev,
.carousel-control-next{
      top: 75%;
}

#randBackground {
  background-repeat: no-repeat;
  background-size: cover;
}


