body,
html {
  height: 100%;
}

.jumbotron {
  background: none;
}

#randBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sebm-google-map-container {
  height: 300px;
}
.card-header {
  background-color: rgb(24, 71, 84);
}

.card {
  min-height: 300px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 75%;
}

#randBackground {
  background-repeat: no-repeat;
  background-size: cover;
}

#devBy {
  font-family: fantasy;
  background:rgba(255,255,255,0.35);
}

hr {
  height: 5px;
  color: black;
  padding-top: 3px;
  border: none;
  border-bottom: 3px solid black;
}

ul {
  display: table;
  margin: 0 auto;
  font-size: 30px;
}

li:hover {
  color: blue;
  cursor: pointer;
}

#about {
    background:rgba(255,255,255,0.35);
}

#aboutStyle {
  font-family: fantasy;
}
